<h1 class="country">{{name}}</h1>
<ul class="articles">
  <li class="capital">
    <p class="title">Capital:</p>{{capital}}
  </li>
  <li class="population">
    <p class="title">Population:</p>{{population}}
  </li>
  <li class="languages">
    <p class="title">Languages:</p>
    <ul>
      {{#each languages}}
      <li class="native_lang">{{name}}</li>
      {{/each}}
    </ul>
  </li>
</ul>
<img src="{{flag}}" class="flag" alt="flag">