
<h1 class="country">{{name}}</h1>
<div class="coutry__info">
<ul class="articles">
  <li>Capital:
    <p class="title">{{capital}}</p>
  </li>
  <li>Population:
    <p class="title">{{population}}</p>
  </li>
  <li>Languages:
    <ol>
      {{#each languages}}
      <li class="native_lang">{{name}}</li>
      {{/each}}
    </ul>
  </li>
</ul>
<img src="{{flag}}" class="flag" alt="flag">
</div>
